/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


label{
    color: #476b6b;
}

.enviar{
    text-align: left;
}


.texto{
    overflow-x: hidden;
    height: 1000px;
}

:not(.msg)::-webkit-scrollbar{
    display: none;
}


.msg{
    padding-left: 10px;
    max-width: 100%;
    max-height: 50%;
    text-align: left;
    word-break: break-word;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px rgba(255, 255, 255, 0.397);
    border-radius: 5px;
}

.msg::-webkit-scrollbar{
    background-color: transparent;
    width: 7px;
}

.msg::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}

#intro {
  animation: fondo 25s infinite ease-in-out;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -56.5px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

.cover-container {
  max-width: 42em;
}



@keyframes fondo{
  0%{
    background-image: url("imagenes/principal1.jpeg");
  }
  25%{
    background-image: url("imagenes/principal2.jpeg");
  }
  50%{
    background-image: url("imagenes/principal3.jpeg");
  }
  75%{
    background-image: url("imagenes/principal4.jpeg");
  }
  100%{
    background-image: url("imagenes/principal1.jpeg");
  }
}




/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}