.bg{
    background-image: url("imagenes/loginBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.blur{
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar{
    display: none;
}