.contenedor {
    padding-left: 240px;
}
body {
    background-image: url("imagenes/");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-right: 0px !important;
}


.titulo {
    margin: auto;
    margin-top: 20px;
    max-width: fit-content;

}





/*flechas*/
.fc-button .fc-icon {
	margin: 0 .1em;
	font-size: 2em;
	color: rgb(250, 249, 249);
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline; /* for IE7 */
	}


    /*encabezado calendario Ej:lunes,martes*/
.fc th {
        padding: 0;
        vertical-align: top;
       color:rgb(9, 9, 9);
}
/*celdas de dias del calendario */
.fc td{

    padding: 0;
        vertical-align: top;
        border-style: double;
        border-color: rgb(9, 9, 9);
        
     
}


/*Mes del calendario:Ej Abril de 2022 */
html .fc{
 
	font-size: 1em;
	color:rgb(9, 9, 9);
    

}




/*numeros de dias del calendario */
.fc table {
	font-size: 1em;
	color:rgb(9, 9, 9);
	}


.contenedorTabla {
    margin: auto;
    overflow-y: auto;
    margin-top: 10px;
    width: fit-content;
    max-width: 90%;
    height: fit-content;
    max-height: 325px;
    border: 1px solid rgb(0, 0, 0);
}


/* INICIO DEL CSS DEL CALENDARIO */

.fc-toolbar-title::first-letter,
.fc .fc-col-header-cell-cushion {
    text-transform: capitalize;
}

.contenedorCalendario{
    margin: auto;
    width: fit-content;
}

/* FINAL DEL CSS DEL CALENDARIO */

/* INICIO DEL CSS DE LA TABLA DE TODOS LOS EVENTOS */

#todosEventos {
    border-style: hidden;
    border-collapse: collapse;
}

#todosEventos td,
#todosEventos th {
    font-size: 25px;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
}

#todosEventos tr:nth-child(odd) {
    background-color: #d8d5d5;
}

#todosEventos tr:hover {
    background-color: rgb(167, 163, 163);
}

#todosEventos th {
    font-size: 30px;
    text-align: center;
    background-color: #000000;
    color: white;
}

#todosEventos td {
    border: 1px solid rgb(0, 0, 0);
}


/* FINAL DEL CSS DE LA TABLA DE TODOS LOS EVENTOS */


.menu {
    border-right: solid 5px rgb(0, 0, 0);
    z-index: 1;
    word-break: break-all;
    background-image: url('imagenes/sidebarBG.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 240px;
    position: fixed;
    outline: none;
}

.menu .avatar {
    background-image: url('imagenes/topSBGrupos.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0.5em;
    text-align: center;
}

.menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}

.menu ul li {
    border-bottom: solid 1px rgb(255, 252, 252);
    color: white;
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight: regular;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}

.menu ul li.icon-main {
    background-image: url("http://www.entypo.com/images/home.svg");
}

.menu ul li.icon-misGrupos {
    background-image: url("http://entypo.com/images/user.svg");
}

.menu ul li.icon-grupos {
    background-image: url("http://www.entypo.com/images//users.svg");
}

.menu ul li.icon-calendar {
    background-image: url("http://www.entypo.com/images/calendar.svg");
}
.menu ul li.icon-chat {
    background-image: url("http://www.entypo.com/images/chat.svg");
}

.menu ul li:hover {
    background-color: rgb(255, 255, 255);
}

.menu ul li:focus {
    outline: none;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
    .navbar {
        z-index: 1 !important;
        padding-left: 95px;
    }

    .contenido {
        padding-left: 90px;
    }

    .menu {
        z-index: 5;
        top: 0;
        left: 0;
        width: 90px;
    }

    .menu .avatar {
        background-image: none;
        padding: 0.5em;
        position: relative;
    }

    .menu .avatar h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 100px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }

    .menu ul li {
        height: 60px;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
    }

    .menu ul li span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        top: 50%;
        left: 80px;
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }

    .menu ul li span:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }

    .menu ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
}

@media screen and (max-width: 400px) {
    .contenido {
        padding-left: 0;
    }

    .menu {
        z-index: 5;
        top: 0;
        left: 0;
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }

    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: #5bc995;
    }

    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
    }

    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
    }

    .menu:focus {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }

    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
    }
}