<!DOCTYPE html>
<html lang="es">
<head>
    {%include 'imports.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "../static/css/gruposDentro.css">
    <link rel = "stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/perfilPersonal.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>      
    <script src = "../static/JS/perfilPersonal.js"></script>

    <script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

    <script src="../static/JS/popover.js"></script>
   
    <script type="text/javascript">
  
      </script>
      
    <title>{{ grupo }}</title>
</head>
    {% extends 'base.html' %}
    {% block content %}
<body>
    <!-- INICIO SIDEBAR -->
      <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
          <h2 style="color: white;">Grupo: <br> {{grupo}}</h2>
        </header>

        <ul>
          <a style="text-decoration: none;" href="{{ url_for('perfilPersonal', usuario = current_user.name ) }}"><li
              tabindex="0" class="icon-main" style="user-select: none;"><span>Perfil
                personal</span></li></a>
                
          <a style="text-decoration: none;" href="{{ url_for('misGrupos')}}"><li
              tabindex="0"
              class="icon-misGrupos" style="user-select: none;"><span>Mis grupos</span></li></a>
          <a style="text-decoration: none;" href="{{ url_for('grupos')}}"><li
              tabindex="0"
              class="icon-grupos" style="user-select: none;"><span>Todos los
                grupos</span></li></a>
  
          <a style="text-decoration: none;" href="{{ url_for('calendario')}}"><li
              tabindex="0" class="icon-calendar" style="user-select: none;"><span>Calendario</span></li></a>
              <a style="text-decoration: none;" href="{{
                url_for('chat')}}"><li
                    tabindex="0" class="icon-chat" style="user-select:
                    none;"><span>Chat</span></li></a>
        </ul>
      </nav>
    <!-- FINAL SIDEBAR -->

    <!-- INICIO OFFCANVAS USUARIOS -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-scroll = "false">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasLabel" style="margin: auto;">Usuarios</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class ="usuarios">
          
          {%for miembro in miembros%}
          {% if miembro[1] == "Y"%}
    
            <li><p style="color: green">{{miembro[0]}}⚔</p></li>
    
          {% else %}
    
            <li><a href="#"  data-bs-toggle="popover" >{{miembro[0]}}</a></li>
           
          
    
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- FINAL OFFCANVAS USUARIOS -->

    

    <div class = "contenedor">
      <ul>
        <li><button type="button" class="btn btn-outline-primary" name="btnCrearGrupo" id="btnCrearGrupo" data-bs-toggle="offcanvas" data-bs-target = "#offcanvas">Listar Usuarios</button></li>
        {% if admin == "Y"%}
       <li> <button type="button" class="btn btn-outline-danger" name="btnConfigurarGrupos" id="btnConfigurarGrupos" data-bs-target = "#offcanvas">Gestionar Usuarios</button>
       </li>
        {% endif %}
      </ul>
      
        <hr>
        <h2 class="titulo">Todos Mis Eventos  De   {{grupo}}  </h1>

        {% if lenConcreto == 0 %}
        <h1 style="margin: auto; width: fit-content;">No tienes ningún evento en este grupo</h1>
        {% else %}
    <div class="contenedorTabla">
        <table id="todosEventos">
            <tr>
                <th>GRUPO</th>
                <th>TITULO</th>
                <th>INICIO</th>
                <th>FINAL</th>
            </tr>
            {% for evento in eventosGrupo %}
            <tr>
                <td>{{ evento.grupo }}</td>
                <td>{{ evento.title }}</td>
                <td>{{ evento.start.strftime("%A %d-%m-%Y %H:%M").capitalize() }}</td>
                <td>{{ evento.end.strftime("%A %d-%m-%Y %H:%M").capitalize() }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
   
    
     
    </div>
    {%endif%}
    
    <div class="modal fade" tabindex="-1" role="dialog"
    id="configGruposModal"
    name="configGruposModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Opciones</h5>
          <button type="button" class="close" data-bs-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <button type="button" class="btn btn-danger"
            id="btnOpcionEliminar"
            name="btnOpcionEliminar" style="margin: 10px;">Eliminar usuario</button>
            {% if current_user.name == owner %}
          <button type="button" class="btn btn-warning"
            id="btnOpcionHacerAdminr"
            name="btnOpcionHacerAdminr" style="margin: 10px;">Hacer admin</button>
            <button type="button" class="btn btn-warning"
            id="btnOpcionDeshacerAdminr"
            name="btnOpcionDeshacerAdminr" style="margin: 10px;">Deshacer admin</button>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
    
      <!-- INICIO DEL MODAL DELETE GROUP -->
      <div class="modal fade" tabindex="-1" role="dialog" id="removeGroupModal" name="removeGroupModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar grupo</h5>
              <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- INICIO DEL FORMULARIO DELETE -->
              <form method="post" name="removeGroupForm" id="removeGroupForm">
                <div class="md-form md-outline input-with-post-icon">

                  <input type="hidden" name="action" id="action"
                    value="eliminar">

                  <label for="removedGroup">Usuario:</label>
                  <input type="text" class="form-control" id = "usuario" name = "usuario">

                

                  <label for = "confRemovedGroup">Confirmacion usuario:</label>
                  <input type = "text" class="form-control" id = "confusuario" name = "confusuario">


                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger btnPeligroso">Eliminar usuario</button>
                <button type = "button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </form>
            <!-- FINAL DEL FORMULARIO DELETE -->
          </div>
        </div>
      </div>

            <!-- INICIO DEL MODAL HACER ADMIN -->
            <div class="modal fade" tabindex="-1" role="dialog" id="adminGroupModal" name="adminGroupModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hacer Admin</h5>
                    <button type="button" class="close" data-bs-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- INICIO DEL FORMULARIO ADMIN -->
                    <form method="post" name="removeGroupForm" id="removeGroupForm">
                      <div class="md-form md-outline input-with-post-icon">
      
                        <input type="hidden" name="action" id="action"
                          value="admin">
      
                        <label for="admingroup">Usuario:</label>
                        <input type="text" class="form-control" id = "usuarioadmin" name = "usuarioadmin">
      
                      
      
                        <label for = "haceradmingroup">Confirmacion usuario:</label>
                        <input type = "text" class="form-control" id = "confusuarioadmin" name = "confusuarioadmin">
      
      
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger btnPeligroso">Hacer Admin</button>
                      <button type = "button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </form>
                  <!-- FINAL DEL FORMULARIO ADMIN -->
                </div>
              </div>
            </div>
          <!-- INICIO DEL MODAL DESHACER ADMIN -->
          <div class="modal fade" tabindex="-1" role="dialog" id="desadminGroupModal" name="desadminGroupModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Deshacer Admin</h5>
                  <button type="button" class="close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- INICIO DEL FORMULARIO DESHACER ADMIN -->
                  <form method="post" name="removeGroupForm" id="removeGroupForm">
                    <div class="md-form md-outline input-with-post-icon">
    
                      <input type="hidden" name="action" id="action"
                        value="desadmin">
    
                      <label for="desadmingroup">Usuario:</label>
                      <input type="text" class="form-control" id = "usuariodesadmin" name = "usuariodesadmin">
    
                    
    
                      <label for = "deshaceradmingroup">Confirmacion usuario:</label>
                      <input type = "text" class="form-control" id = "confusuariodesadmin" name = "confusuariodesadmin">
    
    
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btnPeligroso">Deshacer Admin</button>
                    <button type = "button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </form>
                <!-- FINAL DEL FORMULARIO DESHACER ADMIN -->
              </div>
            </div>
          </div>


</body>
{% endblock %}
</html>