<!DOCTYPE html>
<html lang="es">
  <head>
    {%include 'imports.html'%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= '../static/JS/bootstrap.bundle.min.js'></script>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/css/grupoDentro.css">
    <script src="../static/JS/popover.js"></script>


    <title>{{ grupo }}</title>
  </head>
  {% extends 'base.html' %}
  {% block content %}
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }

    {% if alertar %}
      {% for msg in get_flashed_messages() %}

        {% if msg = 'Confirmación incorrecta' %}
          title = '{{ msg }}',
          text = 'Inténtelo de nuevo'
        
        {% elif msg = 'Usuario eliminado del grupo correctamente' %}
            title = '{{ msg }}',
            text = 'Este ya no podrá ver el contenido del grupo a menos que vuelva a entrar.'

        {% elif msg = 'Hubo un problema y no se pudo eliminar al usuario' %}
            title = '{{ msg }}',
            text = 'Inténtelo de nuevo más tarde'

        {% elif msg = 'Usuario actualizado' %}
            title = '{{ msg }}',
            text = 'Administrador actualizado'

        {% elif msg = 'Hubo un problema y no se pudo actualizar al usuario' %}
            title = '{{ msg }}',
            text = 'Inténtelo de nuevo más tarde'

        {% endif %}

        {% if msg == 'Usuario eliminado del grupo correctamente' or msg == "Usuario actualizado" %}

        Swal.fire({
          icon: 'success',
          title: title,
          text: text,
        }).then((result) => {
            location.reload();
        });
      
        {%else%}
            Swal.fire({
              icon: 'error',
              title: title,
              text: text,
            })

        {% endif %}

      {% endfor %}
    {% endif %}


  </script>
  <body>
    <!-- INICIO SIDEBAR -->
    <nav class="menu" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <h2 style="color: white;">Grupo: <br> {{grupo}}</h2>
      </header>

      <ul>
        <a style="text-decoration: none;" href="{{ url_for('perfilPersonal',
          usuario= current_user.name ) }}"><li
            tabindex="0" class="icon-main" style="user-select: none;"><span>Perfil
              personal</span></li></a>

        <a style="text-decoration: none;" href="{{ url_for('misGrupos')}}"><li
            tabindex="0"
            class="icon-misGrupos" style="user-select: none;"><span>Mis grupos</span></li></a>
        <a style="text-decoration: none;" href="{{ url_for('grupos')}}"><li
            tabindex="0"
            class="icon-grupos" style="user-select: none;"><span>Todos los
              grupos</span></li></a>

        <a style="text-decoration: none;" href="{{ url_for('calendario')}}"><li
            tabindex="0" class="icon-calendar" style="user-select: none;"><span>Calendario</span></li></a>
        <a style="text-decoration: none;" href="{{
          url_for('chat')}}"><li
            tabindex="0" class="icon-chat" style="user-select:
            none;"><span>Chat</span></li></a>
      </ul>
    </nav>
    <!-- FINAL SIDEBAR -->



    <div class="contenedor">
      <!-- INICIO ENCABEZADO -->
      <div class="encabezado">
        <button type="button" class="btn btn-outline-primary"
          name="btnCrearGrupo"
          id="btnCrearGrupo" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvas">Listar
          Usuarios</button>

        {% if admin %}
        <button type="button" class="btn btn-outline-danger"
          name="btnConfigurarGrupos" id="btnConfigurarGrupos"
          data-bs-target="#offcanvas">Gestionar Usuarios</button>
        {%endif%}
      </div>
      <!-- FINAL ENCABEZADO -->
      <!-- INICIO CUERPO -->

      <!-- FINAL CUERPO -->
    </div>






    <div class="modal fade" tabindex="-1" role="dialog"
      id="configGruposModal"
      name="configGruposModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Opciones</h5>
            <button type="button" class="close" data-bs-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="text-align: center;">
            <button type="button" class="btn btn-danger"
              id="btnOpcionEliminar"
              name="btnOpcionEliminar" style="margin: 10px;">Eliminar usuario</button>
            {% if current_user.name == owner %}
            <button type="button" class="btn btn-warning"
              id="btnOpcionHacerAdminr"
              name="btnOpcionHacerAdminr" style="margin: 10px;">Hacer admin</button>
            <button type="button" class="btn btn-warning"
              id="btnOpcionDeshacerAdminr"
              name="btnOpcionDeshacerAdminr" style="margin: 10px;">Deshacer
              admin</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- INICIO DEL MODAL DELETE USER -->
    <div class="modal fade" tabindex="-1" role="dialog" id="removeUserModal"
      name="removeUserModal" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
            <button type="button" class="close" data-bs-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- INICIO DEL FORMULARIO DELETE -->
            <form method="post" name="removeUserForm" id="removeUserForm">
              <div class="md-form md-outline input-with-post-icon">

                <input type="hidden" name="action" id="action"
                  value="eliminar">

                <label for="usuario">Usuario:</label>
                <input type="text" class="form-control" id="usuario"
                  name="usuario">
                <label for="confusuario">Confirmacion usuario:</label>
                <input type="text" class="form-control" id="confusuario"
                  name="confusuario">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btnPeligroso">Eliminar
                usuario</button>
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
          <!-- FINAL DEL FORMULARIO DELETE -->
        </div>
      </div>
    </div>

    <!-- INICIO DEL MODAL HACER ADMIN -->
    <div class="modal fade" tabindex="-1" role="dialog" id="adminGroupModal"
      name="adminGroupModal" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hacer Admin</h5>
            <button type="button" class="close" data-bs-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- INICIO DEL FORMULARIO ADMIN -->
            <form method="post" name="addAdminForm" id="addAdminForm">
              <div class="md-form md-outline input-with-post-icon">

                <input type="hidden" name="action" id="action"
                  value="admin">

                <label for="usuarioadmin">Usuario:</label>
                <input type="text" class="form-control" id="usuarioadmin"
                  name="usuarioadmin">
                <label for="confusuarioadmin">Confirmacion usuario:</label>
                <input type="text" class="form-control" id="confusuarioadmin"
                  name="confusuarioadmin">


              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btnPeligroso">Hacer
                Admin</button>
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
          <!-- FINAL DEL FORMULARIO ADMIN -->
        </div>
      </div>
    </div>
    <!-- INICIO DEL MODAL DESHACER ADMIN -->
    <div class="modal fade" tabindex="-1" role="dialog" id="desadminGroupModal"
      name="desadminGroupModal" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deshacer Admin</h5>
            <button type="button" class="close" data-bs-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- INICIO DEL FORMULARIO DESHACER ADMIN -->
            <form method="post" name="removeAdminForm" id="removeAdminForm">
              <div class="md-form md-outline input-with-post-icon">

                <input type="hidden" name="action" id="action"
                  value="desadmin">

                <label for="usuariodesadmin">Usuario:</label>
                <input type="text" class="form-control" id="usuariodesadmin"
                  name="usuariodesadmin">



                <label for="confusuariodesadmin">Confirmacion usuario:</label>
                <input type="text" class="form-control" id="confusuariodesadmin"
                  name="confusuariodesadmin">


              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btnPeligroso">Deshacer
                Admin</button>
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
          <!-- FINAL DEL FORMULARIO DESHACER ADMIN -->
        </div>
      </div>
    </div>

    <!-- INICIO OFFCANVAS USUARIOS -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas"
      aria-labelledby="offcanvasLabel" data-bs-scroll="false">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasLabel" style="margin: auto;">Usuarios</h3>
        <button type="button" class="btn-close text-reset"
          data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="usuarios">

          {%for miembro in miembros%}
          {% if miembro[1] == "Y"%}

          <li><p style="color: green">{{miembro[0]}}⚔</p></li>

          {% else %}

          <li><p style="color: blue;">{{miembro[0]}}</p></li>



          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- FINAL OFFCANVAS USUARIOS -->


  </body>
  {% endblock %}
</html>