<!DOCTYPE html>
<html lang="es">  

  <head>
    <title>Indice</title>
  </head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')
    }}">

  <body>
    {% extends 'base.html' %}
    {% block content %}

    <div class="container pt-5">
      <div class="row border border-dark">
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('login') }}" class="text-dark-50
              fw-bold link-success">Login</a></h1>
        </div>
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('signup') }}" class="text-dark-50
              fw-bold link-success">Signup</a></h1>
        </div>
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('perfilPersonal', usuario = current_user.name ) }}" class="text-dark-50
              fw-bold">Perfil personal</a></h1>
        </div>
      </div>
      <div class="row border border-dark">
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('calendario') }}" class="text-dark-50
              fw-bold">Calendario</a></h1>
        </div>
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('chat') }}" class="text-dark-50
              fw-bold">Chat</a></h1>
        </div>
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('grupos') }}" class="text-dark-50
              fw-bold">Grupos</a></h1>
        </div>
      </div>
      <div class="row border border-dark">
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('misGrupos') }}" class="text-dark-50
              fw-bold">Mis grupos</a></h1>
        </div>
        <div class="col border border-dark text-center">
          <h1><a href="{{ url_for('principal') }}" class="text-dark-50
              fw-bold">Principal</a></h1>
        </div>
        <div class="col border border-dark text-center">
          <h1><a href="" class="text-dark-50
              fw-bold">#</a></h1>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>