<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil personal</title>
        <!-- INICIO DE IMPORTS -->
        {%include 'imports.html'%}
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
        <link rel="stylesheet" href="../static/css/perfilPersonal.css">
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>      
        <script src = "../static/JS/perfilPersonal.js"></script>
        <!-- FINAL DE IMPORTS -->





    </head>
    {% extends 'base.html' %}
    {% block content %}
    <body>
        <!-- INICIO SIDEBAR -->
        <nav class="menu" tabindex="0">

            <div class="smartphone-menu-trigger"></div>
            <header class="avatar">
                <h2 style="color: white;">{{current_user.name}}</h2>
            </header>

            <ul>
                <a style="text-decoration: none;" href="{{ url_for('perfilPersonal', usuario = current_user.name ) }}"><li
                        tabindex="0" class="icon-main" style="user-select:
                        none;"><span>Perfil
                            personal</span></li></a>

                <a style="text-decoration: none;" href="{{url_for('misGrupos')}}"><li
                        tabindex="0"
                        class="icon-misGrupos" style="user-select: none;"><span>Mis
                            grupos</span></li></a>
                <a style="text-decoration: none;" href="{{ url_for('grupos')}}"><li
                        tabindex="0"
                        class="icon-grupos" style="user-select: none;"><span>Todos
                            los
                            grupos</span></li></a>

                <a style="text-decoration: none;" href="{{
                    url_for('calendario')}}"><li
                        tabindex="0" class="icon-calendar" style="user-select:
                        none;"><span>Calendario</span></li></a>
            </ul>
        </nav>
        <!-- FINAL SIDEBAR -->

        <!-- INICIO DEL CUERPO -->


        <div class="contenedor">

            <h1 class="titulo" style="font-size: 50px;">PERFIL PERSONAL</h1>
            <hr>
            
            <!-- INICIO DE LA ZONA DEL CALENDARIO -->
            
            <h2 class="titulo">Aquí el calendario</h1>
                
                <div class="contenedorCalendario">
                <div class="container">
                    <div id = "calendar" class="block calendar">
                    </div>
                </div>
            </div>
            <hr>

            <!-- FINAL DE LA ZONA DEL CALENDARIO -->
<!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- INICIO DE LA ZONA DE LOS EVENTOS DE UN GRUPO CONCRETO -->

            <h2 class="titulo">Aquí todos los eventos por grupo seleccionado</h1>

                <form method="post" name = "formGrupoEventos" id = "formGrupoEventos">
                    <select id = "grupoEventos" name = "grupoEventos" selected = "GRUPO 2">
                        {% for grupo in grupos %}
                    <option value = "{{ grupo[0] }}">{{ grupo[0] }}</option>
                        {% endfor %}
                    </select>
                </form>
                {% if lenConcreto == 0 %}
                <h1 style="margin: auto; width: fit-content;">No tienes ningún evento en este grupo</h1>
                {% else %}
            <div class="contenedorTabla">
                <table id="todosEventos">
                    <tr>
                        <th>GRUPO</th>
                        <th>TITULO</th>
                        <th>INICIO</th>
                        <th>FINAL</th>
                    </tr>
                    {% for evento in eventosGrupo %}
                    <tr>
                        <td>{{ evento.grupo }}</td>
                        <td>{{ evento.title }}</td>
                        <td>{{ evento.start.strftime("%A %d-%m-%Y %H:%M").capitalize() }}</td>
                        <td>{{ evento.end.strftime("%A %d-%m-%Y %H:%M").capitalize() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                {% endif %}
            <hr>

            <!-- FINAL DE LA ZONA DE LOS EVENTOS DE UN GRUPO CONCRETO -->
<!-- -------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- INICIO DE LA ZONA DE TODOS LOS EVENTOS DE TODOS LOS GRUPOS -->

            <h2 class="titulo">Aquí todos los eventos</h1>
                {% if len == 0 %}
                <h1 style="margin: auto; width: fit-content;">No tienes ningún evento</h1>
                {% else %}
            <div class="contenedorTabla">
                <table id="todosEventos">
                    <tr>
                        <th>GRUPO</th>
                        <th>TITULO</th>
                        <th>INICIO</th>
                        <th>FINAL</th>
                    </tr>
                    {% for evento in todosEventos %}
                    <tr>
                        <td>{{ evento.grupo }}</td>
                        <td>{{ evento.title }}</td>
                        <td>{{ evento.start.strftime("%A %d-%m-%Y %H:%M").capitalize() }}</td>
                        <td>{{ evento.end.strftime("%A %d-%m-%Y %H:%M").capitalize() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                {% endif %}
        </div>

        <!-- FINAL DE LA ZONA DE TODOS LOS EVENTOS DE TODOS LOS GRUPOS -->

        <!-- FINAL DEL CUERPO -->

        <!-- INICIO DEL FOOTER -->
        <footer class="bg-light text-lg-start">
            <div class="container">
                <div class="container">
                    <footer class="py-3 my-4">
                        <ul class="nav justify-content-center border-bottom pb-3
                            mb-3">
                            <li class="nav-item"><a href="/" class="nav-link
                                    px-2 text-muted">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link
                                    px-2 text-muted">Sobre nosotros</a></li>
                            <li class="nav-item"><a href="#" class="nav-link
                                    px-2 text-muted">Contáctanos</a></li>
                        </ul>
                        <p class="text-center text-muted">&copy; 2022 MyCal</p>
                    </footer>
                </div>
            </div>
        </footer>
        <!-- FINAL DEL FOOTER -->



        <script>
            grupoSeleccionado = document.querySelector('#grupoEventos');
            grupoSeleccionado.value = "{{ seleccionado }}"
        </script>

</div>

    </body>
    {% endblock%}
</html>