
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCal</title>
        {%include 'imports.html'%}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
        <link href="../static/css/sobreNosotros.css" rel="stylesheet">
    </head>            
        

    {% block content %}
    <body>
        <header>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block"
                style="z-index: 2000;">
                <div class="container-fluid">
                    <!-- Navbar brand -->
                    <a class="navbar-brand nav-link"
                        href="{{ url_for('principal') }}">
                        <strong>MyCal</strong>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarExample01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="{{
                                    url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="{{
                                    url_for('sobreNosotros') }}">Sobre nosotros</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="{{
                                    url_for('contactenos') }}">Contáctenos</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                        {% if not current_user.is_anonymous %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-auto">
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="{{
                                    url_for('logout') }}">Cerrar sesión</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar -->

            <!-- Background image -->
            <div id="intro" class="bg-image shadow-2-strong">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.432);">
                    <div class="container d-flex align-items-center
                        text-left h-100">

                        <div class = "contenedorTexto">
                            <div class="texto">
                                <p>MyCal ha sido creado por Marcos Hernando López, Raúl Barrera Clavo y Dumitru Alexandru Stroesteanu
                                    como TFG para el IES Melchor Gaspar de Jovellanos de Fuenlabrada
                                </p>
                            </div>
                            <div class="imagen">
                               <img src="static/css/imagenes/jovellanos.jpg" alt="Jovellanos">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            

            <!-- Background image -->
        </header>
        <!--Main Navigation-->

        <!--Footer-->
        <footer class="bg-light text-lg-start">
            <div class="container">
                <div class="container">
                    <footer class="py-3 my-4">
                        <ul class="nav justify-content-center border-bottom pb-3
                            mb-3">
                            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link
                                    px-2 text-muted">Home</a></li>
                            <li class="nav-item"><a href="{{ url_for('sobreNosotros') }}" class="nav-link
                                    px-2 text-muted">About Us</a></li>
                            <li class="nav-item"><a href="{{ url_for('contactenos') }}" class="nav-link
                                    px-2 text-muted">Contact Us</a></li>
                        </ul>
                        <p class="text-center text-muted">&copy; 2022 MyCal</p>
                    </footer>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </body>
    {% endblock %}
</html>